body {
  background-color: white;
  font-family: 'Inter';
  font-size: 6vw;
}
.mainlogo {
  height: 100%;
}
@media only screen and (max-width: 600px) {
  body {
    font-family: 'Inter';
    font-size: 8vw;
  }
  .mainlogo {
    width: 100%;
    height: auto;
  }
}
p {
  font-family: 'Inter';
  font-size: 4vmin;
}
img {
  height: 6vh;
}
.main {
  width: 100%;
}
.footer {
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
}